name: Docker

on:
  push:
    branches: [ master ]

jobs:
  docker:
    strategy:
      matrix:
        include:
          - from: debian:buster
            tag: debian-buster
            file: Dockerfile-debian
          - from: debian:bullseye
            tag: debian-bullseye
            file: Dockerfile-debian
          - from: debian:bookworm
            tag: debian-bookworm
            file: Dockerfile-debian
    runs-on: ubuntu-latest
    steps:

      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          file: "${{ matrix.file }}"
          push: true
          build-args: "FROM=${{ matrix.from }}"
          tags: stephanfuhrmannionos/linux-python-docker:${{ matrix.tag }}
